$background-color : #e6e6e6;
$main-color : #fc3a3a;
$main-black : #4d4d4d;
$green : #7DCE13;
$red : #CF0A0A;

.ad{
    .adList{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        .adListItem{
            width: 300px;
            height: 180px;
            position: relative;
            margin: 20px 0px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
            .deleteButton{
                background-color: #DD5353;
                font-size: 36px;
                padding: 5px;
                border-radius: 100%;
                color: $background-color;
                position: absolute;
                top: -20px;
                right: -20px;
                z-index: 2;
                cursor: pointer;
                &:hover{
                    background-color: $red;
                }
            }
        }
    }
}

.products{
    .productList{
        height: 300px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        .productListItem{
            width: 200px;
            height: 260px;
            box-shadow: 0 0 9.5px -2px #000000;
            border-radius: 10px;
            overflow: hidden;
            margin: 10px;
            position: relative;
            img{
                width: 100%;
            }
            .productTitle{
                width: 100%;
                padding: 10px;
                font-size: 16px;
                font-weight: 600;
                max-height: 70px;
                color: $main-black;
            }
            .productButtonGroup{
                width: 100%;
                height: 55px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                position: absolute;
                bottom: 5px;
                button{
                    width: 80px;
                    height: 30px;
                    border: none;
                    border-radius: 8px;
                    background-color: #083AA9;
                    color: $background-color;
                    font-weight: 600;
                    cursor: pointer;
                    &:hover{
                        box-shadow: 0 0 22.5px -2px #083aa9;
                    }
                }
                .deleteButton{
                    font-size: 32px;
                    background-color: #fc3a3a;
                    border-radius: 6px;
                    padding: 3px;
                    color: $background-color;
                    cursor: pointer;
                    &:hover{
                        background-color: #CF0A0A;
                        box-shadow: 0 0 22.5px -2px #cf0a0a;
                    }
                }
            }
        }
    }
}
.addBox{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0px;
    left: 0px;

    .addCard{
        position: relative;
        width: 1400px;
        height: 800px;
        background-color: $background-color;
        left: 50%;
        top: 8%;
        transform: translatex(-50%);
        border-radius: 10px;
        overflow: hidden;
        padding: 20px;
        .cardTitle{
            width: 100%;
            font-size: 30px;
            font-weight: 600;
            color: $main-color;
            margin-bottom: 20px;
        }

        .closeButton{
            position: absolute;
            right: 10px;
            top: 14px;
            font-size: 50px;
            padding: 5px;
            color: $red;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
            }
        }

        .addForm{
            width: 70%;
            height: 94%;
            display: grid;
            grid-template-columns: auto auto;
            place-items: center;
            float: left;
            .inputBox{
                width: 400px;
                position: relative;
                span{
                    position: absolute;
                    background-color: $background-color;
                    padding: 5px 10px;
                    font-weight: 600;
                    font-size: 16px;
                    left: 10px;
                    transform: translateX(100px);
                    transform: translateY(-50%);
                }
                input,textarea{
                    width: 240px;
                    height: 50px;
                    background-color: $background-color;
                    border-radius: 8px;
                    border: 1px solid black;
                    outline: none;
                    padding: 0px 10px;
                    font-size: 16px;
                    font-weight: 600;
                }
                textarea{
                    padding: 20px 10px;
                    overflow:hidden;
                    
                }
                .addButton{
                    width: 60px;
                    height: 50px;
                    border: none;
                    background-color: $green;
                    border-radius: 10px;
                    margin: 0px 10px;
                    font-weight: 800;
                    cursor: pointer;
                }             
            }
            .submitButton,.clearButton{
                width: 100px;
                height: 50px;
                border-radius: 8px;
                border: none;
                background-color: $main-color;
                font-size: 20px;
                font-weight: 600;
                color: $background-color;
                cursor: pointer;
                margin: 0px 10px;
                &:hover{
                    box-shadow: 0px 0px 23px 0px rgba(252,58,58,1);
                }
            }
            .clearButton{
                background-color: #E38B29;
                margin-left: -120px;
                &:hover{
                    box-shadow: 0px 0px 23px 0px rgba(227,139,41,1);
                }
            }
        }

        .previewBox{
            width: 30%;
            height: 94%;
            float: left;

            .thumbPrev{
                width: 100%;
                height: 200px;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 6px;
                }
            }
            .imagesList,.threeDList{
                width: 100%;
                height: 240px;
                display: grid;
                margin-top: 10px;
                grid-template-columns: auto auto auto auto;
                overflow-y: scroll;
                img{
                    width: 80px;
                    opacity: 0.8;
                    margin: 8px;
                    border-radius: 4px;
                }
            }
        }
        
    }
    
}
.adCard{
    width: 1000px;
    height: 600px;
    background-color: $background-color;
    position: relative;
    z-index: 6;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    border-radius: 10px;
    overflow: hidden;
    .previewImage{
        width: 100%;
        margin: 10px 0px;
        height: 500px;
        background: no-repeat center;
        background-size: contain;
    }
    .closeButton{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 40px;
        padding: 5px;
        cursor: pointer;
        color: $red;
        &:hover{
            transform: scale(1.1);
        }
    }
    .adForm{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        input,button{
            width: 240px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 600;
            color: $main-black;
            outline: none;
            border: 1px solid $main-black;
            border-radius: 6px;
            background: transparent;
        }
        button{
            width: 100px;
            background-color: $green;
            margin: 0px 10px;
            border: none;
            cursor: pointer;
        }
    }
}
.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: absolute;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
    left: 50%;
  }
  
  @keyframes shadowPulse {
    33% {
      background: #676767;
      box-shadow: -24px 0 #FF3D00, 24px 0 #676767;
    }
    66% {
      background: #FF3D00;
      box-shadow: -24px 0 #676767, 24px 0 #676767;
    }
    100% {
      background: #676767;
      box-shadow: -24px 0 #676767, 24px 0 #FF3D00;
    }
  }
