$background-color : #e6e6e6;
$main-color : #fc3a3a;
$main-black : #4d4d4d;
$green : #7DCE13;

.Header{
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    .brandBox{
        height: 100%;
        .brandLogo{
            height: 100%;
        }
    }
    .searchBox{
        form{
            display: flex;
            justify-content: center;
            align-items: center;
            input{
                width: 400px;
                height: 50px;
                padding: 0px 20px;
                font-size: 16px;
                font-weight: 600;
                outline: none;
                border: 2px solid $main-color;
                border-radius: 50px;
                color: $main-black;
                background: transparent;
            }
            
            button{
                border-radius: 100%;
                border: none;
                background-color: $main-color;
                color: $background-color;
                cursor: pointer;
                margin-left: 10px;
                &:hover{
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
                
                .searchIcon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 50px;
                    padding: 5px;
                }
            }
        }
    }

    .favoriteLink{
        text-decoration: none;
    }
    .favoriteButton{
        width: 160px;
        height: 50px;
        background-color: $main-black;
        font-size: 18px;
        font-weight: 600;
        border: none;
        border-radius: 16px;
        color: $background-color;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        .favoriteIcon{
            font-size: 20px;
            color: $main-color;
            margin-left: 16px;
        }
    }
}